<mat-card>
  <app-content-header [previous]="'/login'"></app-content-header>

  <mat-card-content>
    <form (ngSubmit)="submitConta()">
      <mat-form-field appearance="outline">
        <mat-label>Conta Gráfica</mat-label>
        <input
          matInput
          type="text"
          placeholder="Conta Gráfica"
          id="conta-grafica"
          [formControl]="contaGrafica"
        />
      </mat-form-field>
      <br />

      <div class="flex-row">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          id="submit-conta"
          [disabled]="contaGrafica.invalid"
        >
          Entrar
        </button>
        <div class="error-msg">{{ errorMessage }}</div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-footer style="height: 4px">
    <span [hidden]="!loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </span>
  </mat-card-footer>
</mat-card>
