<mat-card>
    <mat-card-content>
        <form (ngSubmit)="submitConta()">
            <mat-form-field appearance="outline">
                <mat-label>Conta Gráfica</mat-label>
                <input matInput type="text" id="conta-grafica"
                       placeholder="Conta Gráfica" [formControl]="contaGrafica"/>
            </mat-form-field>
            <br />

            <div class="flex-row">
                <div>
                    <button mat-raised-button type="submit" id="submit-conta"
                            color="primary" [disabled]="contaGrafica.invalid">
                        Entrar
                    </button>

                    <span style="padding-left: 15px"></span>

                    <button id="btnBack" mat-raised-button mat-icon-button
                            color="accent" routerLink="/login">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div class="error-msg">{{ errorMessage }}</div>
            </div>
        </form>
    </mat-card-content>

    <mat-card-footer style="height: 4px">
    <span [hidden]="!loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </span>
    </mat-card-footer>
</mat-card>
